*{
    box-sizing: border-box;
}

.img-head{
    width:100vw;
	height:350px;
	object-fit:cover;
}

.container {
    position: relative;
    text-align: center;
}
.header-title{
    position: absolute;
	top: 38%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 3em;
	font-weight: normal;
}

.relevant{
    color:#DE3370;
	top:35%;
	letter-spacing: 7px;
	font-size: 1em;
    text-align: center;
}


body{
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;

}
.wp-block-image size-large{
    margin-bottom: 0;
    width: 100%;
    border: 0;
    vertical-align: middle;
}

.button {
    font-family: "Roboto Condensed";
    font-size: 13px;
    padding: 3px;
    padding-left: 30px;
    padding-right: 30px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    letter-spacing: 2px;
    text-decoration: none;

}

.button:hover {
    background: transparent;
    background-color: rgb(222, 51, 112);
    color: black;
    transition: .3s;
}

.date-box{
    display: block;
    width: 60px;
    position: absolute;
    text-align: center;
    text-shadow: none;
    margin-top: -30px;
}

.date-box .day{
    color: white;
    display: block;
    font-weight: 600;
    font-size: 28px;
    padding: 15px 0 15px 0;
    text-align: center;
    z-index: 100;
    width: 60px;
    background-color: #de3370;
}

.date-box .month{
    display: block;
    border-bottom-color: #de3370;
    font-family: "Open Sans";
    font-weight: 600;
    padding: 7px 0 7px 0;
    border-bottom: solid 3px #de3370;
    text-align: center;
    width: 60px;
    z-index: 100;
}

.paragraph{
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
}

.text-class{
    padding-left: 80px;
}

